
#container-h {
    position: relative;
    display: flex;
    flex-flow: wrap;
}

#data-input, #schema-output {
    position: relative;
    padding: 1.5em .5em .5em;
    margin: .25em;
    border: 1px solid #CCC;
    flex-grow: 1;
    font-size: 87.5%;
}

#data-input {
    min-width: 300px;
    min-height: 256px;
    background: #FFF;
}

#schema-output {
    position: relative;
    overflow: auto;
}

#data-input::before, #schema-output::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.5em;
    border: 1px solid #CCC;
    border-top-width: 0;
    border-left-width: 0;
    user-select: none;
    background: white;
}

#data-input::before {
    content: 'Form';
}

#schema-output::before {
    content: 'Schema';
}